.header {
    &__bg {
        background: url("../Image/img/bg-headertiny.jpg") center center/cover no-repeat;
        min-height: 949px;
    }

    & a {
        color: #FFF;
        transition: 1s;

        &:hover {
            transition: all .3s;
            color: orangered;
        }

    }

    .header__wrapper-wide {
        margin: 0 auto;
        padding: 3.125rem 10px 0px;
        max-width: 1800px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 140px;
    }

    &__logotype {
        flex: 0 1 33.3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 15px;
    }

    &__logo-img1 {
        display: none;
    }


    &__favourites {

        margin-right: 15px;

        & svg path:hover {
            transition: .3s;
            fill: #F4683F;
            stroke: #F4683F;
        }

        & svg {
            transition: 1s;
        }
    }

    &__city-form {
        margin-right: 14px;
        position: relative;
        width: 100%;
    }

    &__city-form {
        &::before {
            position: absolute;
            content: "";
            top: 0%;
            left: 0%;
            width: 13px;
            height: 18px;
            background: url('../Image/svg/pointer.svg')no-repeat;

        }
    }

    &__city-town {
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: rgba(197, 188, 188, 0);
        padding-left: 15px;
        position: relative;
        min-width: 140px;
    }

    &__links {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-faq {
            margin-right: 30px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 0 1 33.3%;
    }

    &__search {
        display: flex;
        align-items: center;
        padding: 0px 8px;
        position: relative;
        color: white;
        transition: 1s;

        &:hover {
            transition: .3s;
            color: #F4683F;

            & svg path {
                transition: .3s;
                fill: #F4683F;
            }
        }

        & svg path {
            transition: 1s;
            margin-right: 5px;
        }

        & svg {

            margin-right: 5px;
        }


    }

    &__phone {
        display: flex;
        align-items: center;
        order: 1;
        position: relative;
        color: white;

        &:hover {
            transition: .3s;
            color: #F4683F;

            & svg path {
                transition: .3s;
                fill: #F4683F;
            }
        }

        & svg path {
            transition: 1s;
            margin-right: 5px;
        }

        & svg {
            margin-right: 5px;
        }
    }

    &__btn {
        white-space: nowrap;
        border: 1px solid #ffffff;
        background: transparent;
        border-radius: 150px;
        color: #FFF;
        padding: 8px 20px;
        margin-left: 20px;
        transition: 1s;

        &:hover {

            transform: .3s;
            border-color: #F4683F;
        }

    }

    &__selections {
        display: none;
        white-space: nowrap;
        border: 1px solid #ffffff;
        background: transparent;
        border-radius: 150px;
        color: #FFF;
        padding: 10px 20px;
        margin-left: 20px;
        transition: 1s;

        &:hover {
            color: #F4683F;
            transform: .3s;
            border-color: #F4683F;
        }

    }

    &__inner {
        display: flex;
        justify-content: space-between;

    }

    &__text {
        max-width: 680px;
        margin-bottom: 91px;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #FFF;
        margin-bottom: 30px;
    }

    &__subtitle {
        max-width: 500px;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 150%;
        color: #FFF;
    }

    &__slider-wrapper {
        position: relative;
    }

    &__slider {
        max-width: 600px;
        padding: 0 10px;
        position: relative;
        margin: 0 -20px;

    }

    &__slide-inner {
        min-width: 0px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-width: 0;
    }

    &__slide-item {
        padding: 0px 1px;
        border-radius: 20px;
        margin-bottom: 14px;
    }


    &__slide-img {
        border-radius: 15px;
    }

    &__slide-text {
        margin-top: 30px;
        text-align: center;
        max-width: 161px;
        color: #FFF;
        font-weight: 600;
        font-size: 18px;
    }

    &__socials-list {
        display: flex;
        align-items: center;
        margin-top: 85px;

        & li:not(:last-child) {
            margin-right: 21px;
        }
    }

    &__socials-link svg {
        transition: 1s;
    }

    &__socials-link svg:hover {
        transition: .3s;
        transform: scale(1.4);
    }

    &__form-inner {
        overflow: hidden;
        max-width: 390px;
        min-height: 490px;
        background: #fff;
        padding: 30px 35px;
        border-radius: 20px;

    }

    &__form-content {
        width: 100%;

    }

    &__form-buttons {
        margin-bottom: 20px;
        white-space: nowrap;

    }

    &__form-button {
        display: inline-block;
        white-space: nowrap;
        width: 50%;
        height: 50px;
        background: white;
        outline: 0;
        border: 1px solid rgb(182, 179, 179);
    }

    &__form-button ::placeholder {
        padding: 0px 10px;
    }

    &__form-button--left {
        border-right: none;
        border-radius: 20px 0 0 20px;
        text-align: start;
        padding: 0px 10px;
        color: rgba(22, 22, 22, 0.439);
    }

    &__form-button--right {
        border-left: none;
        margin-left: -71px;
        border-radius: 0 20px 20px 0;
        text-align: start;
        color: rgba(22, 22, 22, 0.439);
    }

    &__form-label {
        display: block;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    &__form-labels {
        display: inline-block;
        transform: translateY(-42px);
    }

    &__form-people {
        padding: 10px;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(128, 128, 128, 0.521);
        margin-bottom: 60px;
        border-radius: 25px;

    }

    &__form-people placeholder {
        padding: 0px 15px;
    }

    &__form-btn {
        display: block;
        margin: 84px auto 10px;
        max-width: 280px;
        width: 100%;
        height: 50px;
        border-radius: 20px;
        background: #F4683F;
        text-align: center;
        color: #FFF;
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        transition: 1s;
    }

    &__form-btn:hover {
        background-color: #333333;
    }
}

// -------------about-------------
.bg {
    background: url('../Image/img/backgroundabout.jpg')100% 0%/60% no-repeat;
}

.about {
    padding: 200px 0;

    &__title {
        margin-bottom: 73px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        color: #333333;
    }

    &__list {
        display: flex;
    }

    & li {
        margin-right: 80px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__text {
        max-width: 331px;
        line-height: 160%;
        color: #333333;
    }

    &__img {
        margin-bottom: 22px;
    }


}

// ------------popular-----------
.popular {


    padding: 0 0 200px 0;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 80px;
    }

    &__items {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;

    }

    &__link {
        box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
        border-radius: 20px;
        display: block;
        overflow: hidden;
        transition: all 1s;
    }

    &__link-content {
        padding: 30px 30px 40px 30px;
        display: flex;
        flex-direction: column;

    }

    &__link-subtitle {
        margin-bottom: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 150%;
    }

    &__link-list {
        margin-bottom: 27px;
    }

    &__link-item {
        color: #727488;
        line-height: 35px;

        & span {
            margin-left: 10px;
        }
    }

    & img {
        vertical-align: text-bottom;
    }

    &__link-info {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333333;
        transition: 1s;

        &:hover {
            transition: .3s;
            color: #F4683F;
        }
    }

    &__link-price {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 22px;


    }

    &__link-button {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 22px;
    }

    &__img-box {
        position: relative;

    }

    &__heart {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
        width: 50px;
        height: 50px;
        border-radius: 50%;

        & svg path {
            transition: 1s;
        }

        &:hover svg path {
            transition: all .7s;
            // stroke: red;
            fill: rgb(226, 29, 29);
        }
    }

    &__img-box--30 {
        position: relative;

        & span {
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 8px 20px;
            background-color: #FFF;
            border-radius: 22px;
            color: #727488;
            font-size: 14px;
            display: flex;
            align-items: center;

            &::before {
                display: block;
                content: "";
                background: url('../Image/svg/user.svg')no-repeat;
                width: 23px;
                height: 20px;
            }

        }

    }

    &__catalog-btn {
        display: inline-block;
        margin: 80px auto 0px;
        padding: 10px 50px;
        text-align: center;
        border-radius: 20px;
        background: #F4683F;
        text-align: center;
        color: #FFF;
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        transition: 1s;


        &:hover {
            background-color: #333333;
        }

    }

}

// service---------------------
.service {
    padding: 0px 0px 250px 0px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        margin-bottom: 80px;
    }

    &__col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
        margin-bottom: 70px;
    }

    &__item {
        padding: 50px 50px 50px 40px;
        box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__item-img {
        vertical-align: text-bottom;
        margin-right: 22px;
    }

    &__item-text {
        font-size: 18px;
        line-height: 150%;
    }

    &__link {
        display: inline-block;
        margin: 80px auto 0px;
        padding: 10px 50px;
        text-align: center;
        border-radius: 20px;
        background: #F4683F;
        text-align: center;
        color: #FFF;
        font-family:'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        transition: 1s;


        &:hover {
            background: #333333;
        }
    }
}

// ------------acc------------------
.questions {
    padding: 0px 0px 250px 0px;

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        margin-bottom: 80px;
    }


    &__accordeon-item {
        padding: 25px 15px 25px 0px;
        margin-bottom: 35px;
    }


    &__accordeon-link {
        color: #333333;
        display: block;
    }

    &__accordeon-item--border {
        position: relative;


        &::before {
            content: "";
            position: absolute;
            top: -15%;
            left: 0%;
            height: 50%;
            width: 103%;
            border-top: 1px solid #C0C2D7;
        }

    }

    &__accordeon-text {
        display: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
        margin-top: 17px;
    }

    &__accordeon-heading {
        padding-right: 50px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 22px;
        line-height: 150%;


        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0%;
            width: 18px;
            height: 1px;
            background-color: #333333;
            border-radius: 1px;
        }

        &::after {
            transform: rotate(90deg);
            transition: all .3s;
        }
    }

    &__accordeon-link--active &__accordeon-heading::after {
        transform: rotate(0deg);
    }
}

// -------------application---------------------
.application {
    padding: 223px 0 294px;
    background: url('../Image/img/backgroundapptiny.jpg')0 0 /cover no-repeat;

    &__inner {}

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 40px;
        line-height: 150%;
        margin-bottom: 20px;
        color: #FFFFFF;
    }

    &__text {
        max-width: 373px;
        font-size: 18px;
        line-height: 160%;
        color: #FFFFFF;
        margin-bottom: 60px;
    }

    &__link {
        display: inline-block;
        margin: 80px auto 0px;
        padding: 10px 50px;
        text-align: center;
        border-radius: 20px;
        background: #F4683F;
        text-align: center;
        color: #FFF;
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        transition: 1s;


        &:hover {
            background: #333333;
        }
    }
}

// footer---------------------------
.footer {
    &__body {
        padding: 90px 0px 70px;
        background: linear-gradient(180deg, #161723 0%, #161723 109.24%);
    }

    &__inner {
        margin: 0 -20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        min-height: 190px;
        justify-content: space-between;
    }

    &__col-logo {
        display: block;
    }

    &__col-paragraph {
        font-family: 'Montserrat'sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #404256;
    }

    &__col-subtitle {
        margin-bottom: 17px;
        color: #FFFFFF;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 17px;
    }

    &__col-item {
        display: block;
        margin-bottom: 12px;
        transition: 1s;

        &:hover a {
            color: #F4683F;
            transition: all .3s;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__col-link {

        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #C0C2D7;
    }

    &__col--1 {
        align-items: flex-end;
    }

    &__phone {
        transition: 1s;
        display: block;
        color: #C0C2D7;

        &:hover {
            transition: all .3s;
            color: #F4683F;
        }
    }

    &__socials-list {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    &__socials-list li {
        margin-right: 22px;

    }

    &__socials-list li:last-child {
        margin-right: 0px;
    }

    &__socials-link svg:hover {
        transition: .3s;
        transform: scale(1.1);

    }

}

.footer__mobile {
    display: none;
    padding: 106px 10px 150px;
    background-color: #161723;

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-logo {
        margin-bottom: 38px;
    }

    &__city-form {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    &__city-form {
        &::before {
            position: absolute;
            content: "";
            top: 0%;
            left: 0%;
            width: 13px;
            height: 18px;
            background: url('../Image/svg/pointer.svg')no-repeat;

        }
    }


    &__city-town {
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: rgba(197, 188, 188, 0);
        padding-left: 15px;
        position: relative;
        min-width: 140px;
    }

    &__links {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

        &-faq {
            margin-bottom: 10px;
        }

        & a {
            transition: 1s;
            color: #FFF;

            &:hover {
                color: #F4683F;
                transition: .3s;
            }
        }
    }

    &-btn {
        display: block;
        max-width: 300px;
        width: 100%;
        padding: 7px 6px;
        border-radius: 20px;
        background: transparent;
        border: 1px solid #FFF;
        text-align: center;
        color: #FFF;
        font-family: 'Montserrat',sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        transition: 1s;
        margin-bottom: 12px;

        &:hover {
            border-color: #F4683F;
        }
    }

    &__form-btn {
        display: block;
        max-width: 300px;
        width: 100%;
        padding: 7px 50px;
        border-radius: 20px;
        background: #F4683F;
        text-align: center;
        color: #FFF;
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        transition: 1s;
        margin-bottom: 40px;

        &:hover {
            background-color: transparent;
        }

    }

    &-phone {
        display: flex;
        align-items: center;
        position: relative;
        color: white;
        margin-bottom: 22px;

        &:hover {
            transition: .3s;
            color: #F4683F;

            & svg path {
                transition: .3s;
                fill: #F4683F;
            }
        }

        & svg path {
            transition: 1s;
            margin-right: 5px;
        }

        & svg {
            margin-right: 5px;
        }
    }

    &__socials-list {
        display: flex;
        align-items: center;
        margin: 0 0 40px;

        & li:not(:last-child) {
            margin-right: 21px;
        }


    }

    &__socials-link {
        & svg:hover {
            transform: scale(1.1);
        }
    }

    &-col-paragraph {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        color: #404256;
    }



}