//=======================header====================================
.header__bg {
    background: url("../Image/Images/header-bg.jpg") center center / cover no-repeat;
    min-height: 675px;

}

.header {
    padding-top: 30px;

    &__top-inner {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logos {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 15px;

    }

    &__logo-text {
        max-width: 240px;
        font-size: 13px;
        line-height: 16px;
    }

    &__nav {
        display: flex;
    }

    &__nav-link svg {
        transition: 1s;
    }

    &__nav-link svg:hover {
        transition: .3s;
        transform: scale(1.4);
    }

    &__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;

        & li:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__nav-text {
        font-size: 13px;
        line-height: 18px;
        max-width: 136px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__phonebox {
        margin-right: 20px;
    }

    &__phone {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        color: $text-color;
    }

    &__phone-text {
        position: relative;
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
        padding-left: 57px;

        &::before {
            position: absolute;
            top: 2px;
            left: 17px;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #22C74E;
        }
    }

    &__call {
        @extend %defualt-btn;
        width: 180px;
        height: 40px;
        line-height: 40px;
    }

    &__title {
        max-width: 650px;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        margin-top: 72px;

        span {
            color: $text-span;
        }
    }

    hr {
        margin: 25px 0;
        border: 3px solid #FFCF6E;
        width: 100px;
    }

    &__subtitle {
        max-width: 400px;
        margin-bottom: 40px;
    }

    &__btn {
        position: relative;
        @extend %defualt-btn;
        line-height: 80px;
        font-weight: 700;

        &::after {
            position: absolute;
            content: "";
            background-image: url("../Image/Decor/smeta.png");
            display: block;
            top: -50%;
            left: 84%;
            width: 114px;
            height: 120px;
        }
    }
}

// ====================repair=====================================
.repair {
    margin-top: 80px;

    &__heading {
        text-align: center;
    }

    &__title {
        @extend %default-title;
        max-width: 660px;
        margin-bottom: 7px;

        span {
            color: $text-span;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
        margin-bottom: 97px;
    }

    &__item {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(359.21deg, #1A1A1A 1.21%, rgba(26, 26, 26, 0.4) 99.86%);
        }
    }

    &__item-img {
        object-fit: cover;
        max-width: 100%;
    }

    &__item-text {
        z-index: 1;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%);
    }

    &__item-name {
        color: white;
        font-size: 33px;
        line-height: 41px;
        text-align: center;
    }

    &__item-paragraph {
        color: #FFC771;
        font-weight: 700;
        font-size: 33px;
        line-height: 42px;
        text-align: center;
    }

    &__link {
        z-index: 1;
        position: absolute;
        left: 50%;
        bottom: 15%;
        transform: translate(-50%);
        text-decoration: underline;
        transition: all .9s;

        &:visited {
            color: white;
        }

        &:hover {
            transition: all .5s;
            color: #FFC771;
            text-decoration: overline;
        }
    }

    &__consult {
        display: block;
        @extend %defualt-btn;
        margin: 0 auto;
        font-weight: 700;
    }

    &__backet {
        position: relative;

        &::after {
            position: absolute;
            display: block;
            overflow: hidden;
            width: 500px;
            height: 350px;
            content: "";
            left: 73%;
            bottom: 0%;
            background: url("../Image/Decor/Paint-backets.png")0 0/ cover no-repeat;
        }
    }
}

// =================================solutions==========================
.solutions {
    margin-top: 100px;

    &__row-wrapper {
        margin: 0 auto 40px;
        max-width: 1040px;
    }

    &__heading {
        margin-bottom: 30px;
    }

    &__title {
        @extend %default-title;
        max-width: 660px;
        margin-bottom: 7px;

        & span {
            color: $text-span;
        }
    }

    &__text {
        @extend %text;

    }

    &__row-body {
        margin: 0 -20px;
        display: flex;
    }

    &__row-items {
        padding: 0px 20px;
        flex: 0 1 33.333%;
        display: flex;
    }

    &__row-item {
        display: flex;
        flex-direction: column;
        background-color: #F9F9F9;
        border-radius: 10px;
        border: 1px solid #F9F9F9;
        padding: 23px 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.589);
    }

    &__row-tariff {
        font-weight: 700;
        line-height: 28px;
        font-size: 23px;
        color: $text-color;
    }

    &__row-area {
        font-size: 23px;
        line-height: 28px;
    }

    &__row-list {
        padding: 35px 5px;
        flex: 1 1 auto;
    }

    &__row-link {
        @extend %defualt-btn;
        max-width: 280px;
    }

    &-link {
        margin: 0 auto;
        color: $text-color;
        display: block;
        border-bottom: 1px solid $text-color;
        max-width: 502px;
        transition: 1s;
        @extend %text;

        &:visited {
            color: $text-color;
        }

        &:hover {
            transition: .3s;
            color: #FFC771;
            border-color: transparent;

        }
    }
}

// -----------------------price---------------------------------
.price {
    padding-bottom: 200px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        padding-right: 15px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 20px 10px;
        background-color: #ffffff;
        width: 100%
    }

    &__title {
        margin-top: 50px;
        @extend %default-title;
        max-width: 660px;
        margin-bottom: 50px;

    }



    &__image {
        max-width: 50%;
    }

    &__count {
        padding-top: 40px;
        margin: 10px 0 25px;
    }

    &__advance {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.754);
        margin-bottom: 20px;
    }

    &__final {
        color: black;
        font-weight: 700;
        font-size: 24px;
    }

    &__plo {
        margin-top: 45px;
        margin-bottom: 40px;
    }

    &__calc-btn {
        @extend %defualt-btn;
        margin-top: 50px;
        max-width: 380px;
    }

    &__form {
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            background: url(../Image/Decor/stairs.png)0 0 / contain no-repeat;
            width: 385px;
            height: 385px;
            left: 145%;
            bottom: -45%;
        }
    }

    &__inp {
        position: relative;

        &::before {
            position: absolute;
            content: "10";
            top: 178%;
            left: 0;
            font-family: Gilroy;
            font-size: 16px;
        }

        &::after {
            position: absolute;
            content: "300";
            display: block;
            top: 178%;
            right: 0%;
            font-family: Gilroy;
            font-size: 16px;
        }

    }

}

// -------------------------trust---------------------
.trust {
    margin: 100px 0 100px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @extend %default-title;
        margin-bottom: 50px;

        & span {
            color: $text-span;
        }
    }

    &__items {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 80px;
        margin-bottom: 50px;
    }


    &__item {
        display: flex;
        align-items: center;
        padding: 25px 30px 25px 30px;
        box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background-color: #F9F9F9;
    }

    &__item-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFC771;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 15px;

    }

    &__item-subtitle {
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
        color: $text-color;
        margin-bottom: 3px;
    }

    &__item-text {
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        text-align: start;

    }

    &__item-pic {
        display: block;
        max-width: none;
    }

    &__item-bolgar {
        transform: translate(3%, -7%);
    }

    &__item-kirpich {
        transform: translate(4%, 10%)
    }

    &__item-kitchen {
        transform: translate(-10%, 0%)
    }


    &__item-rab {
        transform: translate(0%, 0%)
    }

    &__item-camera {
        transform: translate(10%, 5%)
    }

    &__item-list {
        transform: translate(0%, 0%)
    }

    &__button {
        @extend %defualt-btn;
        margin: 0 auto;
    }

}

// -------------------consultation------------------------
.consultation {
    padding-top: 74px;
    background: url("../Image/Images/nevelir.jpg") center/ cover no-repeat;
    min-height: 850px;

    &__inner {
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding-bottom: 300px;

    }

    &__info {
        margin-right: 20px;
        margin-top: 108px;
    }

    &__title {
        max-width: 413px;
        line-height: 37px;
        margin-bottom: 20px;

        & span {
            color: $text-span;
        }

    }

    &__list {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 13px;
    }

    &__desc {
        position: relative;
        font-size: 20px;
        line-height: 24px;
        padding-left: 20px;

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: #FFC858;
            top: 30%;
            left: 0;
        }
    }

    &__holder {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__form {
        max-width: 400px;
        background-color: #fff;
        border-radius: 10px;
        padding: 32px 50px 50px 30px;
        box-shadow: 0 10px 0px -5px rgba(255, 199, 88, .9);

        & label {
            font-size: 15px;
            margin-bottom: 5px;
            color: #A8A8A8;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 9px;
    }

    &__box {
        max-width: 294px;
    }

    &__text {

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #373737;
        margin-bottom: 36px;
    }

    &__item {
        width: 100%;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    &__btn {
        margin-top: 54px;
        @extend %defualt-btn;

    }

}

// ---------------------steps--------------------------
.steps {
    padding: 75px 0 118px;

    &__inner {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            display: block;
            position: absolute;
            width: 410px;
            height: 390px;
            content: "";
            bottom: -10%;
            left: 66%;
            background: url("../Image/Decor/Toolbox.png")0 0/ contain no-repeat;
        }
    }

    &__subtitle {
        & span {
            color: #593F0D;
            font-size: 23px;
            font-weight: 700;
        }
    }

    &__desc {
        font-size: 19px;
        margin-top: 20px;
    }

    &__title {
        @extend %default-title;

        & span {
            color: $text-span;
        }
    }

    &__btn {
        margin-top: 50px;
        @extend %defualt-btn;
        max-width: 320px;
    }

}

// ---------products-----------------
.brands {
    padding: 54px 0 103px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &::before {
            position: absolute;
            z-index: 0;
            content: "";
            bottom: -7%;
            left: -10%;
            width: 295px;
            height: 285px;
            display: block;
            background: url("../Image/Decor/tachka.png")0 0/cover no-repeat;
        }

        &::after {
            display: block;
            position: absolute;
            width: 200px;
            height: 200px;
            content: "";
            bottom: -3%;
            left: 87%;
            background: url("../Image/Decor/Paint\ Bucket\ Open.png")0 0/ contain no-repeat;
        }
    }

    &__body {
        margin-bottom: 20px;
        max-width: 700px;
    }

    &__title {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $text-color;
        margin-bottom: 10px;

        & span {
            color: $text-span;
        }
    }

    &__text {
        @extend %text;
    }

    &__box {
        z-index: 1;
        max-width: 915px;
        margin-bottom: 57px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 35px 35px;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        margin: 0 auto;
        @extend %defualt-btn;
    }

}

// --------credits----------------
.credits {
    padding: 51px 0 91px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @extend %default-title;

        & span {
            color: $text-span;
        }
    }

    &__box {
        margin-top: 47px;
        max-width: 750px;
        display: flex;
        justify-content: center;
    }

    &__info {
        margin-right: 15px;
    }

    &__text {
        text-align: start;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 47px;
    }

    &__btn {
        display: inline-block;
        line-height: 78px;
        @extend %defualt-btn;
    }

    &__logo {
        max-width: none;
    }

}

// -------------testimonials--------------
.testimonials {
    padding: 52px 0 50px 0;

    &__slider-wrapper {
        position: relative;
    }

    &__title {
        @extend %default-title;
        margin-bottom: 30px;
    }



    &__slider {
        max-width: 740px;
        padding: 0 35px;
        position: relative;
        margin: 0 auto;
    }


    &__slide-inner {
        padding: 0 20px;
        margin: 0 auto;
    }

    &__slide-video img {
        border-radius: 20px;
    }

    &__slide-video {
        border-radius: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(55, 55, 55, 0.705);
            border-radius: 20px;
        }
    }


    &__slide-link {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

// -------------questions-----------------
.questions {
    padding: 0px 0px 110px 50px;

    &__inner {}

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #593F0D;
        margin: 50px 0;
    }

    &__accordeon {
        max-width: 1050px;
        margin: 0 auto;

    }

    &__accordeon-item {
        padding: 5px 1px 0px 5px;
        margin-bottom: 35px;
    }


    &__accordeon-link {
        color: #593F0D;
        display: block;

    }

    &__accordeon-item--border {
        position: relative;


        &::before {
            content: "";
            position: absolute;
            top: -15%;
            left: 2%;
            height: 50%;
            width: 100%;
            border-top: 1px solid rgba(127, 131, 131, 0.239);
        }
    }


    &__accordeon-border2 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -15%;
            left: 59%;
            height: 50%;
            width: 43%;
            border-top: 1px solid rgba(127, 131, 131, 0.239);

        }
    }

    &__accordeon-heading {
        padding-right: 50px;
        position: relative;
        @extend %text;
        text-align: start;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0%;
            width: 18px;
            height: 1px;
            background-color: rgba(56, 57, 57, 0.756);
            border-radius: 1px;
        }

        &::after {
            transform: rotate(90deg);
            transition: all .5s;
        }
    }

    &__accordeon-link--active &__accordeon-heading::after {
        transform: rotate(0deg);
    }


    &__accordeon-text {
        padding-right: 50px;
        display: none;
        margin-top: 10px;
        font-size: 16px;
        line-height: 23px;
        max-width: 520px;
    }

}

// -------------contactns-----------------------
.contacts {
    &__inner {
        margin: 0 auto;
        max-width: 1160px;
        padding: 51px 60px 57px 51px;
        box-shadow: -4px 4px 50px rgba(143, 143, 143, 0.25);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }

    &__box {
        margin-bottom: 33px;
    }

    &__box:last-child {
        margin-bottom: 0px;

    }

    &__title {
        max-width: 257px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.01em;
        color: #593F0D;
        margin-bottom: 23px;
    }

    &__text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        color: #FFC858;
    }

    &__info {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        text-decoration-line: underline;
        color: #5A5859;
    }

    &__map {
        margin-bottom: 60px;
        width: 60%;
    }
}

// --------------footer--------------
.footer {
    &__inner {
        padding: 20px;
        background-color: #1A1A1A;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__socials-item {
        margin-right: 15px;
    }

    &__socials-link svg {
        transition: 1s;
    }

    &__socials-link svg:hover {
        transition: .3s;
        transform: scale(1.1);
    }

    &__info {
        text-align: end;
    }
}

