body {
    font-family: Girloy-Regular, sans-serif;
    font-weight: 400;
    color: $text-color;
    
}
html {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1215px;
    padding: 0 15px;
    margin: 0 auto;
}

.button:hover {
    transition: all .3s;
}

h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    color: #fcfbfb;
}

label {
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: #1e1b1b68;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.header__burger {
    display: none;
}

// ------------------------burger-----------------------------

// ---------------------input range---------------------------------------------

#slider {
    background: rgb(131, 131, 131);
    appearance: none;
    width: 100%;
    height: 1px;
    outline: none;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 48px;
    height: 248px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.selectbtn {
    height: 30px;
    width: 30px;
    background-color: #FFC858;
    border-radius: 50%;
    position: absolute;
    bottom: 8%;
    left: 14%;
}

#selectvalue {
    height: 33px;
    width: 50px;
    position: absolute;
    top: 25px;
    left: 0px;
    line-height: 33px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(244, 246, 244);
    border: 1px solid rgba(0, 0, 0, 0.574);
}

#progressbar {
    width: 50%;
    height: 2px;
    background: #FFC858;
    position: absolute;
    top: 12px;
    left: 0;
}

// -----input phone--------
input::placeholder {
    font-size: 14px;
    color: $text-color;
}

:focus::placeholder {
    color: transparent;
    transition: .5s;
}
// --------------ol------------  
.steps__list {
    list-style: none;
    counter-reset: line;
}

.steps__list li {
    position: relative;
    margin-top: 50px;
    padding-left: 100px;
}

.steps__list li:before {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 74px;
    height: 74px;
    background-color: #FBD293;
    border-radius: 50%;
    color: #593F0D;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 75px;
    counter-increment: line;
    content: counter(line);
}

// ---------------slick slide---------------------
.testimonials__slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translatey(-50%, -50%);
    z-index: 2;
    font-size: 0;
    margin-top: -36px;
    width: 28px;
    height: 72px;

}

.testimonials__slider .slick-prev {
    background: url('../Image/Svg/arrow-left.svg') 0 0 / 100% no-repeat;
    left: 0%;
}

.testimonials__slider .slick-next {
    background: url("../Image/Svg/arro-right.svg") 0 0/ 100% no-repeat;
    right: 0%
}

.testimonials__slider .slick-arrow.slick-disabled {
    opacity: .5;

}

.testimonials__slide-link path:hover {
    fill: rgba(242, 124, 81, 0.533);
    transition: .5s;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.testimonials__slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__slider .slick-dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0px;
    background-color: #FFC858;
}

.testimonials__slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #593F0D;
}

.testimonials__slider .slick-dots li {
    list-style: none;
    margin-right: 10px;
}

// ----------------map--------------
#map {
    height: 400px;
    width: 100%;
}

// -------------modal window--------------
.fancybox-close-small {
    padding: 5px !important;
}

#callback {
    overflow: hidden;
    display: none;
    cursor: auto;
    background: transparent;
}

.callback__form {
    z-index: 1;
    width: 100%;
    background-color: #cec8be;
    border-radius: 12px;
}

.callback__content {
    max-width: 350px;
    padding: 20px 30px 40px;
    border: 1px solid #888;
    border-radius: 12px;

}

.callback__title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 70px;
}

.callback__content input {
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(69, 143, 199);
    width: 100%;
}

.callback__telephone {
    z-index: 10;
    background: url("../Image/Decor/telephone\ \(1\).png")1% 50%/ 22px no-repeat;
}

.callback__name {
    background: url("../Image/Decor/user.png") 1% 50%/ 22px no-repeat;
}

.callback__btn {
    @extend %defualt-btn;
    margin-top: 50px;
    width: 150px;
    height: 48px !important;

}
// ---------------------------------------------------
select.price__item {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgb(92, 92, 89);
    // padding: 20px 10px;
    background: url("../Image/Decor/icons8-triangle-arrow-24.png") 96% 50% /10px no-repeat;
}

