html,
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #333333;
}



.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #1e1b1b68;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #1e1b1b68;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show1 {
    visibility: visible;
    opacity: 1;
}

.header__burger {
    display: none;
}

.header__burger1 {
    display: none;
}

.mobile__box {
    display: none;
}

.mobpopular{
    display: none;
}

.header__subtitle-mobile {
    display: none;
}

.header__button-mobile {
    display: none;
}

.mobile__nav {
    display: none;
}

.button:hover {
    transition: all .3s;
}

input::placeholder {
    font-size: 14px;
    color: #333333;
    text-align: start;
    padding: 5px 15px;
    transition: 1s;
}

:focus::placeholder {
    color: transparent;
    transition: .5s;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 150%;
}


.fancybox-content {
    background: none !important;
}

// -------------select-------------------


option {
    background-color: #f2ecec;
    color: rgb(18, 18, 18);
}

// slider--header-----------------------

.header__slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    z-index: 2;
    font-size: 0;
    margin-top: -36px;
    width: 10px;
    height: 15px;

}

.header__slider .slick-prev {
    background: url('../Image/Svg/arrow-left.svg') 0 0 / 100% no-repeat;
    left: -6%;
}

.header__slider .slick-next {
    background: url("../Image/Svg/arrow-right.svg") 0 0/ 100% no-repeat;
    right: -1%
}

.header__slider .slick-arrow.slick-disabled {
    opacity: .5;

}

// range--------------------------

.irs--flat {
    max-width: 288px;
}

.irs-line {
    background: #808080 !important;
}

.irs-bar {
    background-color: transparent !important;
    height: 2px !important;
}

.irs-line {
    height: 2px !important;
}

.irs-min {
    display: none !important;
}

.irs-max {
    display: none !important;
}

.irs-from {
    color: rgb(8, 8, 8) !important;
    font-size: 14px !important;
    padding: 1px 5px;
    background-color: #f6f3f300 !important;
    top: 0% !important;
    bottom: 15% !important;
}

.irs-from::before {
    content: "&#8381" !important;
    border: none !important;
    background: transparent !important;
}

.irs-to {
    color: rgb(8, 8, 8) !important;
    font-size: 14px !important;
    background-color: #f6f3f300 !important;

}

.irs-to::before {
    border: none !important;
    background: transparent !important;
}

.irs-single {
    color: rgb(8, 8, 8) !important;
    font-size: 14px !important;
    background-color: #f6f3f300 !important;
}

.irs-single::before {
    border: none !important;
    background: transparent !important;
}

.irs-handle {
    z-index: 1 !important;
}

.irs--flat .irs-handle>i:first-child {
    top: -29% !important;
    background-color: orangered !important;
    width: 6px !important;
    border-radius: 8px !important;
    height: 21px !important;
}

.irs-from,
.irs-to,
.irs-single {
    top: 45px !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px !important;
}




// --------------slick dots---mobpopular-------
.mobpopular__slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
}

.mobpopular__slider .slick-dots button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0px;
    background-color: #808080;
}

.mobpopular__slider .slick-dots li.slick-active button {
    background-color: #F4683F;
    border: 1px solid #F4683F
}

.mobpopular__slider .slick-dots li {
    list-style: none;
    margin-right: 10px;
}

.fancybox-close-small {
    visibility: hidden !important
}
