// 1520px================================================
// Header-------------------------
@media (max-width: 1520px) {
    .header {
        &__slider {
            margin: 0 50px;
        }
    }
}

// 1400px================================================
// Header-------------------------
@media (max-width:1500px) {

    html,
    body {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    .header {
        &__logo-img {
            max-width: none;
            margin-right: 15px;
        }

        &__logo-img1 {
            max-width: none;
        }

        &__info {
            display: flex;
            justify-content: space-between;

        }

        &__favourites {
            margin-right: 0;
            order: 2;
        }

        &__search {
            order: 3;
        }

        &__phone {
            order: 1;
        }

        &__btn {
            color: #FFF;
            background-color: #F4683F;
            border: none;

            &:hover {
                transition: all .3s;
                transform: scale(1.1);
            }
        }

        &__form {
            margin-right: 120px;
        }
    }

    // about-------------------------
    .about {padding: 0px;
        &__title {
            font-size: $title1440 ;
        }
    }

    // popular-------------------------
    .popular {
        &__title {
            font-size: $title1440;
        }

        &__link-price {
            font-size: 16px;
        }

        &__link-button {
            font-size: 16px;
        }
    }

    // service-------------------------
    .service {
        &__title {
            font-size: $title1440;
        }
    }

    // questions-------------------------
    .questions {
        &__title {
            font-size: $title1440;
        }

        &__accordeon-item--border::before {
            width: 100%;
        }

        &__accordeon-text {
            font-size: 14px;
        }
    }

    // application-------------------------
    .application {
        &__title {
            font-size: $title1440;
        }
    }

    // footer-------------------------
    .footer {}


    .header__scroll {
        & .header__info {
            justify-content: flex-end;
        }

        & .header__favourites svg {
            margin-right: 20px;
        }

        & .header__info {
            flex: 0 -1 33%
        }

        & .header__selections {
            display: none;
        }


    }
}

// 1250px================================================
// Header-------------------------
@media (max-width:1250px) {

    .irs-from,
    .irs-to,
    .irs-single {
        font-size: 12px !important;
    }

    .header {

        &__links {
            flex: 0 1 25%;
            flex-direction: column;
        }

        &__info {
            flex: 0 1 25%;
            flex-direction: column;
        }

        &__favourites {
            display: none;
        }

        &__search {
            align-items: center;
            order: 3;
            padding: 0px;
        }

        &__links-faq {
            margin-bottom: 15px;
            margin-right: 0;
        }

        &__phone {
            margin-bottom: 10px;
            order: 1;
        }

        &___text {
            max-width: 600px;
        }

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 21px;
        }

        &__form-button {
            width: 52%;
        }

        &__slider {
            display: none;
        }

        &__form {
            margin-right: 0px;
        }

        &__form-inner {
            overflow: hidden;

            min-height: 490px;
            background: #fff;
            padding: 30px 20px;
            border-radius: 20px;
        }
    }

    // about-------------------------

    // popular-------------------------
    .popular {
        &__title {}

        &__items {
            gap: 20px;
        }
    }

    // service-------------------------
    .service {

        &__col {
            gap: 15px;
        }
    }

    // questions-------------------------
    .questions {


        &__accordeon-item--border::before {
            width: 100%;
        }

        &__accordeon-text {
            font-size: 14px;
        }
    }

    // application-------------------------

    // footer-------------------------
    .footer {
        &__col {
            padding: 0 20px;
        }

        &__col-item {
            margin-bottom: 9px;
        }

        &__col-link {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .header__scroll {
        & .header__info {
            justify-content: flex-end;
        }

        & .header__favourites {
            display: block;
        }

        & .header__info {
            display: flex;
            flex-direction: row;
            margin-right: 5px;
        }

        & .header__selections {
            display: none;
        }

        & .header__links-faq {
            margin-bottom: 10px;

        }
    }

}

// 900px================================================
// Header-------------------------
@media (max-width:900px) {


    .header {
        &__inner {
            flex-direction: column;
        }

        &__links {
            display: none;
        }

        &__search {
            align-items: center;
            order: 3;
            padding: 0px;
        }

        &__text {
            margin-bottom: 10px;
        }


        &__socials-list {
            margin: 25px 0px 30px;
        }

    }

    // about-------------------------
    .about {
        & li {
            margin-right: 20px;
        }

    }

    // popular-------------------------
    .popular {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }

    // service-------------------------

    // questions-------------------------

    // application-------------------------

    // footer-------------------------
    .footer {

        &__col-list--1 {
            display: none;
        }

    }

}

// 768px================================================
// Header-------------------------
@media (max-width:768px) {

    body.lock {
        overflow: hidden;
    }

    .header {
        &__burger {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 45px;
            right: 28px;
            border-radius: 50%;
            z-index: 101;

        }

        &__burger1 {
            display: none;
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 45px;
            right: 27px;
            z-index: 100;
        }

        &__logotype {
            flex-basis: 30%;
        }

        &__logo {
            margin-right: 0;
        }

        &__city {
            display: none;
        }

        &__catalog {
            display: none;
        }

        &__info {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin-right: 40px;
        }

        &__phone {
            margin: 0px 15px 0px 0px;
        }

        &__title {
            text-align: center;
        }

        &__subtitle {
            max-width: none;
            text-align: center;
        }

        &__subtitle-mobile {
            display: none;
        }

        &__socials-list {
            justify-content: center;
        }

        &__form {
            margin: 0 auto;
        }


    }

    // about-------------------------
    .about {
        &__title {
            font-size: $title768;
        }
    }

    // popular-------------------------
    .popular {
        padding-bottom: 100px;

        &__title {
            font-size: $title768;
        }
    }

    // service-------------------------
    .service {
        padding-bottom: 100px;

        &__title {
            font-size: $title768;
        }

        &__col {
            margin-bottom: 80px;
            grid-template-columns: 1fr 1fr;
        }

        &__link {
            margin-top: 0;
        }
    }

    // questions-------------------------
    .questions {
        padding-bottom: 100px;

        &__title {
            font-size: $title768;
        }
    }

    // application-------------------------
    .application {
        padding: 165px 0 180px;

        &__title {
            font-size: $title768;
        }
    }

    // footer-------------------------
    .footer {
        &__body {
            padding: 80px 0 60px;
        }

        &__col {
            min-height: 210px;
        }

        &__col-link {
            line-height: 14px;
        }

        &__col-subtitle {
            line-height: 150%;
            margin-bottom: 0px;
        }
    }

    .header__scroll {
        & .header__info {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin-right: 40px;
        }

        & .header__phone {
            display: flex;
            color: #000;
            margin: 0px 10px 0px 0px;

            & path {
                fill: #000;

                &:hover {
                    fill: #F4683F;
                }
            }

        }

        & .header__favourites {
            display: none;
        }

    }

    // ----------modal------------------
    .modal__search {
        position: relative;

        & input {
            background: none;
        }

        &-inner {
            padding: 0;
            top: 0;
            transform: translate(-50%, 0);
            border-radius: 0px;
        }

        &-form {
            border-radius: 0;
            padding: 30px 15px;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 40px;
            border-radius: 100px;
            background: #F4683F;
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 0px;
            transition: 1s;
        }
    }

    .mobile__nav {
        display: block;

        &-list {
            display: flex;
            justify-content: space-between;
        }


        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // flex: 1 1 25%;
            padding: 10px;
        }



        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #333333;
        }

        &-text {
            margin-top: 10px;
        }

        &-link--active {
            color: #F4683F;

            & path {
                fill: #F4683F;
            }
        }
    }
}


// 650px================================================
// Header-------------------------
@media (max-width:650px) {

    .header {

        &__bg {
            min-height: 642px;
        }

        &__top {
            margin-bottom: 92px;
        }

        &__info {
            flex: 0 1 auto;
            margin-right: 55px;
        }

        &__search {
            & span {
                display: none;
            }

        }

        &__phone {
            & span {
                display: none;
            }
        }

        &__title {
            text-align: center;
        }

        &__subtitle {
            display: none;
        }

        &__subtitle-mobile {
            display: block;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }

        &__socials-list {
            display: none;
        }

        &__button-mobile {
            display: block;
            margin: 50px auto 10px;
            max-width: 320px;
            width: 100%;
            height: 50px;
            border-radius: 20px;
            background: #F4683F;
            text-align: center;
            color: #FFF;
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            transition: 1s;

            &:hover {
                // transition: .3s;
                background: transparent;
            }
        }

        &__form {
            display: none;
        }
    }

    // about-------------------------
    .about {
        padding: 72px 0 90px;

        &__title {
            text-align: center;
            font-size: 25px;
        }

        &__list {
            flex-direction: column;
            align-items: center;

            & li {
                margin: 0px 0px 40px 0px;
            }
        }
    }

    .mobile__box {
        display: block;
        padding-bottom: 102px;

        &-title {
            margin-bottom: 40px;
            font-size: $title768;
            text-align: center;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 20px;
            justify-items: start;
        }

        &-text {
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
            line-height: 160%;
            color: #333333;
            max-width: 150px;
        }

    }

    // popular-------------------------
    .popular {
        display: none;

        & h3 {
            font-size: 25px;
        }

    }

    // mobpopular------------------------
    .mobpopular {
        display: block;


        &__items {
            padding: 0 15px;
            margin-bottom: 20px;
        }

        &__item {

            min-height: 370px;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
            border-radius: 20px;
        }

        &__content {
            padding: 0 0 20px 0;
        }

        &__slider {
            position: relative;
            width: 100%;

            & span {
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 8px 15px;
                background-color: #FFF;
                border-radius: 22px;
                color: #727488;
                font-size: 14px;
                display: flex;
                align-items: center;
                z-index: 1;

                &::before {
                    display: block;
                    content: "";
                    background: url(../Image/svg/user.svg) no-repeat;
                    width: 20px;
                    height: 20px;
                }

            }

            &-heart {
                position: absolute;
                top: 15px;
                left: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.5);
                -webkit-box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
                box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                z-index: 1;
            }
        }

        &__content {
            padding: 30px 20px;
        }

        &__content-title {
            margin-top: 20px;
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 20px;
            line-height: 150%;
            color: #333333;

        }

        &__content-box {
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        &__content-price {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 16px;
            line-height: 150%;
        }

        &__content-link {
            border: 1px solid #C0C2D7;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 150%;
            padding: 6px 20px;
            border-radius: 150px;
            transition: 1s;
            color: #333333;

            &:hover {
                transition: all .3s;
                border-color: #F4683F;
                color: #F4683F;
            }

        }
    }



    // service-------------------------
    .service {
        padding: 0px 0px 90px 0px;

        &__col {
            margin-bottom: 40px;
            grid-template-columns: 1fr;
            justify-items: inherit;
        }

        &__title {
            text-align: center;
            margin-bottom: 40px;
        }

        &__item {
            flex-direction: column;
            justify-content: center;
            padding: 34px 50px 33px 34px;

            &-img {
                margin-right: 0px;
            }
        }

        &__link {
            margin-top: 0px;
        }

        &__item-text {
            font-size: 14px;
            line-height: 160%;
        }
    }

    // questions-------------------------
    .questions {
        padding: 0px;

        &__title {
            text-align: center;
        }
    }

    // application-------------------------
    .application {
        padding: 120px 0px 50px;
        background: url(../Image/img/backgroundapp.jpg) 50% 50%/cover no-repeat;


        &__link {
            display: block;
            max-width: 280px;
            margin-top: 0px;
        }

        &__title {

            text-align: center;
        }

        &__text {
            max-width: none;
            font-size: 16px;
            text-align: center;
        }
    }

    // footer-------------------------
    .footer__body {
        display: none;
    }

    .footer__mobile {
        display: block;
    }


    .header__scroll {
        & .header__info {
            flex: 0 1 auto;
            margin-right: 55px;
            transform: translatey(5px);
        }

        & .header__logo-img1 {
            max-width: 165%;
            transform: translateY(5px);
        }

    }


    .modal__choose {
        &-inner {
            padding: 35px 30px;
            max-width: 350px;
        }

        &-title {
            font-size: 25px;
        }

        &-text {
            font-size: 14px;

        }

        &-btn {
            font-size: 14px;

        }
    }

    .modal__coop {
        &-inner {
            padding: 35px 25px;
            max-width: 360px;
        }

        &-title {
            font-size: 25px;
        }
    }



}


// 360px================================================
// Header-------------------------
@media (max-width:360px) {

    .header {
        &__logo-img {
            max-width: 165%;
        }
    }

    // about-------------------------
    .about {
        &__title {
            text-align: start;
        }
    }

    // popular-------------------------
    .popular {}

    // service-------------------------
    .service {
        padding-bottom: 90px;

        &__title {
            text-align: start;
        }

        &__col {
            margin-bottom: 0;
        }

        &__item {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            &-img {
                margin-right: 15px;
            }
        }

        &__link {
            margin-top: 40px;
        }
    }

    // questions-------------------------
    .questions {
        padding-bottom: 0px;


        &__title {
            text-align: start;
            margin-bottom: 40px;
        }

        &__accordeon-heading {
            font-size: 16px;
        }
    }

    // application-------------------------
    .application {
        padding: 380px 0px 0px;

        &__title {
            text-align: start;
        }
    }

    // footer-------------------------
    .footer {}

    .header__scroll {
        & .header__logo-img1 {
            max-width: 165%;
            transform: translateY(5px);
        }
    }

    .mobile__box {
        &-inner {
            align-items: flex-start;
        }

        &-title {
            text-align: start;
        }
    }
}