%defualt-btn {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    max-width: 320px;
    height: 78px;
    font-size: $text-btn;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(131, 93, 19);
    background: $btn-bg;
    border-radius: 10px;
    white-space: nowrap;
    filter: drop-shadow(0px 6px 1px rgba(131, 93, 19, 0.5));
    transition: .3s;

    &:hover {
        transition: .3s;
        letter-spacing: 2px;
    }

    &:active {
        transition: .1s;
        transform: translate(0, 3px);
        filter: drop-shadow(0px 1px 1px rgba(131, 93, 19, 0.5));
    }

}

%default-title {
    font-family: Girloy-Regular, sans-serif;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

%text {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}