.header__scroll {
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s ease;
    height: 100px;
    z-index: 99;


    & .header__selections {
        display: block;
    }

    & .header__city-town {
        color: #333333;
    }

    & .header__logo-img1 {
        display: block;
        max-width: none;
    }

    & .header__info {
        flex: 0 1 33%;
        margin-right: 20px;
        justify-content: flex-end;
    }

    & .header__phone {
        display: none;
    }

    & .header__logo-img {
        display: none;
    }

    & .header__btn-scroll {
        display: block;
        text-align: center;
        border-radius: 20px;
        background: #F4683F;
        text-align: center;
        color: #FFF;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 18px;
        transition: 1s;

        &:hover {
            background: white;
            color: #333333;
        }
    }

    & .header__selections {
        white-space: nowrap;
        border: 1px solid #333333;
        background: transparent;
        border-radius: 150px;
        color: #333333;
        padding: 10px 20px;
        transition: 1s;
        margin-left: 20px;
        transition: 1s;

        &:hover {
            color: #F4683F;
            transform: .3s;
            border-color: #F4683F;
        }
    }

    & .header__links {
        flex: 0 1 33%;
        justify-content: flex-end;
    }

    & .header__links-faq {
        color: #333333;

    }

    & .header__links-work {
        color: #333333;
    }

    & .header__favourites svg path {
        fill: #F4683F;
    }

    & .header__search {
        color: #333333;

        &:hover {
            transition: .3s;
            color: #F4683F;

            & svg path {
                transition: .3s;
                fill: #F4683F;
            }
        }

        & svg path {
            transition: 1s;
            margin-right: 5px;
        }
    }

    & .header__search svg path {
        fill: #333333;
    }

    & .header__burger {
        display: none;
    }


}